@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
    background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/time-converter-bg.png");
    height: 100vh;
    padding: 4rem 2rem;
}

.main_heading {
    font-size: 55px;
    color: #ffffff;
    font-weight: 600;
}

#secondaryPara {
    color: #f5f7fa;
    font-weight: 600;
}

label {
    display: block;
    color: #f5f7fa;
    font-weight: 600;
    margin-top: 10px;
}

input {
    width: 100%;
    border-radius: 8px;
    height: 35px;
}

#convertBtn {
    background-color: #f5f7fa;
    font-weight: 600;
    margin: 20px auto;
}

#errorMsg {
    color: #f5f7fa;
}
